<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initinal-scale=1">
		<div th:replace="~{fragment :: meta}"></div>
		
		<!--<!-- Bootstrap --
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
		
		<!-- Google Fonts --
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;500&display=swap" rel="stylesheet">
		 
		 <!-- CSSファイル  [th:href]属性で動的に設定する--
		 <link th:href="@{/css/style.css}" rel="stylesheet"> -->
		 <div th:replace="~{fragment :: style}"></div>
		 
		 <title>SAMURAI Travel</title>
	</head>
	<body>
		<div calss="samuraitravel-wrapper">
				<!-- <header>
					<nav class="navbar navbar-expand-md navbar-light bg-white shadow-sm samuraitravel-navbar">
						<div class="container samuraitravel-container">
							<!-- th:href属性　HTMLのhref属性を動的に設定するための機能　@{}でルートパスを囲んで指定する --
							<a class="navbar-brand" th:href="@{/}">
								<!--　img要素・script要素などのsrc属性を動的に設定するための機能　@{}でルートパスを囲んで指定する--
								<img class="samuraitravel-logo me-1" th:src="@{images/logo.png}" alt="SAMURAI Travel">
							</a>
							
							<ul class="navbar-nav ms-auto">
								<li class="nav-item">
									<!--　onclick属性でJavaScriptのイベント処理を指定　セミコロンで区切ると複数の処理を記述できる　--
									<!--　event.preventDefault();　ブラウザのイベント処理を実行しないようにする（ページ遷移ではなくフォーム送信であるため）
											document.getElementById('logout-from').submit();　logout-fromというidを持つHTML要素を取得し、そのフォームを送信する　--
									<a th:href="@{/logout}" onclick="event.preventDefault(); document.getElementById('logout-form').submit();">
									ログアウト
									</a>
									<!--　form要素のaction属性を動的に設定するための機能　@{}でルートパスを囲んで指定する
											method属性に「"post"」を指定することでログアウトボタンを作成　--
									<from id="logout-from" class="dnone" th:action="@{/logout}" method="post">
								</li>
							</ul>
						</div>
					</nav>
				</header> -->
				
				<main>
					<div class="container pt-4 pb-5 samuraitravel-container">
						<!--　th:if属性（条件分岐）の値に${条件式}を指定することでJavaにおけるif文のように条件分岐を行える-->
						<!--　変数paramを使用してメッセージを表示する　-->
						<div th:if="${param.loggedIn}" class="alert alert-info">
							ログインしました。
						</div>
						
						<div th:if="${param.loggedOut}" class="alert alert-info">
							ログアウトしました。
						</div>
						
						<div th:if="${successMessage}" class="alert alert-info">
							<span th:text="${successMessage}"></span>
						</div>
						
						<div class="d-flex justify-content-center">
                        	<form method="get" th:action="@{/houses}" class="mb-5 samuraitravel-search-form">
								<div class="input-group">
                                	<input type="text" class="form-control" name="keyword" th:value="${keyword}" placeholder="民宿名・目的地">
                                	<button type="submit" class="btn text-white shadow-sm samuraitravel-btn">検索</button>
                            	</div>
                        	</form>
                    	</div>
                    	
                    	<h2 class="text-center mb-3">新着</h2>
                     	<div class="row row-cols-lg-5 row-cols-2 g-3 mb-5">
                        	<div class="col" th:each="newHouse : ${newHouses}">
                            	<a href="#" class="link-dark samuraitravel-card-link">
                                	<div class="card h-100">
                                    	<img th:if="${newHouse.imageName}" th:src="@{/storage/__${newHouse.imageName}__}" class="card-img-top samuraitravel-vertical-card-image" alt="店舗画像">
                                    	<img th:unless="${newHouse.imageName}" th:src="@{/images/noImage.png}" class="card-img-top samuraitravel-vertical-card-image" alt="NO IMAGE">
                                    	<div class="card-body">
                                        	<h3 class="card-title" th:text="${newHouse.name}"></h3>
                                        	<p class="card-text mb-1">
                                            	<small class="text-muted" th:text="${newHouse.address}"></small>
                                         	</p>
                                         	<p class="card-text">
                                            	<span th:text="${#numbers.formatInteger(newHouse.price, 1, 'COMMA') + '円 / 泊'}"></span>
                                         	</p>
                                     	</div>
                                 	</div>
                             	</a>
                         	</div>
                     	</div>
					</div>
				</main>
				
				<!--
				<footer>
					<div class="d-flex justify-content-center align-itms-center h-100">
						<p class="text-center text-muted small mb-0">&copy; SAMURAI Travel All rights reserved.</p>
						</div>
             </footer> -->
             <div th:replace="~{fragment :: footer}"></div>
         </div>
 
		<!-- 
         <!-- Bootstrap --
         <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
		-->
		<div th:replace="~{fragment :: scripts}"></div>
     </body>
 </html>